/*
@Title: aCATServer Portal Ongoing Maintenance CSS
@Author: aCATdemy
*/

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff url("../images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #000;
}

.content-center {
  background-color: rgba(230, 230, 230, 0.8);
  padding: 25px;
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5px;
}

.content-left {
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover {
  color: #00008b;
  text-decoration: underline;
}

.countdown {
  font-weight: 500;
}