*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.home{
    background: #e6e6e6 url("../images/home-bg.png") no-repeat fixed;
}

body.about-acatserver{
    background: #e6e6e6 url("../images/about-acatserver-bg.png") no-repeat fixed;
}

body.server-guidelines{
    background: #e6e6e6 url("../images/server-guidelines-bg.png") no-repeat fixed;
}

body.knowledge-base{
    background: #e6e6e6 url("../images/knowledge-base-bg.png") no-repeat fixed;
}

body.support{
    background: #e6e6e6 url("../images/support-bg.png") no-repeat fixed;
}

/*Header Styling*/
header nav{
    height: 60px;
    background: #ffffff;
}

header nav a img{
    width: 150px;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 5%;
}

header nav ul{
    float: right;
    margin-right: 5%;
}

header nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}

header ul li a{
    position: relative;
    color: #000000;
    font-size: 15px;
    padding: 5px 0;
}

header ul li a.active{
    font-weight: bold;
}

header ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #252525;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s linear;
}

header ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel{
    color: #000000;
    font-size: 30px;
    float: right;
    line-height: 60px;
    margin-right: 5%;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 830px){
    label #btn{
        display: block;
    }
    header nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(230, 230, 230, 0.8);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    header nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    header nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
}

/* home.html Styling */
.left-column{
    float: left;
    width: 75%;
    padding-left: 5%;
}

.right-column{
    float: left;
    width: 25%;
    padding-left: 1%;
    padding-right: 5%;
}

.news-img{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.info-img{
    background-color: #e6e6e6;
    width: 100%;
    padding: 20px;
}

.announcement-img{
    background-color: #e6e6e6;
    width: 100%;
    padding: 20px;
}

.news-card{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    margin-top: 20px;
}

.info-card{
    background-color: rgba(255, 255, 140, 0.75);
    padding: 20px;
    margin-top: 20px;
}

.announcement-card{
    background-color: rgba(175, 238, 238, 0.75);
    padding: 20px;
    margin-top: 20px;
}

.row{
    padding-bottom: 10px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 830px){
    .left-column, .right-column{
        width: 100%;
        padding: 0;
    }
}

/* about-acatserver.html Styling */
.about-page-container{
    min-height: 100vh;
    padding: 0 0 10px 0;
}

.about-page-header{
    margin: 0 5% 0 5%;
    padding: 40px 5% 40px 5%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.about-page-content{
    margin: 0 5% 0 5%;
    padding: 20px 5% 20px 5%;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.75);
}

/* server-guidelines.html Styling*/
.server-guidelines-page-header{
    margin: 0 5% 0 5%;
    padding: 40px 5% 40px 5%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.server-guidelines-page-content{
    margin: 0 5% 10px 5%;
    padding: 20px 5% 20px 5%;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.75);
}

.green-badge{
    display: inline-block;
    padding: 4px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    color: #ffffff;
    background: #00bb0f;
}

.amber-badge{
    display: inline-block;
    padding: 4px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    color: #ffffff;
    background: #ffbf00;
}

.red-badge{
    display: inline-block;
    padding: 4px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    color: #ffffff;
    background: #dc0000;
}

.guidelines-table{
    border-collapse: collapse;
    width: 100%;
}

.guidelines-table td,
.guidelines-table th{
    border: 1px solid #000000;
    padding: 10px;
}

.guidelines-table tr:nth-child(odd){
    background: #e6e6e6;
}

.guidelines-table tr:nth-child(even){
    background: #ffffff;
}

.guidelines-table tr:hover{
    background: #dadada;
    transition: 0.25s;
}

.guidelines-table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #6e6e6e;
    color: white;
}

/* knowledge-base.html Styling */
.knowledge-base-page-container{
    min-height: 100vh;
    padding: 0 0 10px 0;
}

.knowledge-base-page-header{
    margin: 0 5% 0 5%;
    padding: 40px 5% 40px 5%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.knowledge-base-page-content{
    margin: 0 5% 0 5%;
    padding: 20px 5% 20px 5%;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.75);
}

.live-blinking-icon{
    animation: blinker 1.25s linear infinite;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}

/* support.html Styling */
.support-page-container{
    min-height: 100vh;
    padding: 0 0 10px 0;
}

.support-page-header{
    margin: 0 5% 0 5%;
    padding: 40px 5% 40px 5%;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.support-page-content{
    margin: 0 5% 0 5%;
    padding: 20px 5% 20px 5%;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.75);
}

/* Footer Styling */
footer{
    background: #1f1f1f;
    height: auto;
    width: 100;
    padding-top: 30px;
    color: #ffffff;
    font-size: 13px;
    position: inherit;
}

footer div.footer-content-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
}

footer div.footer-content-1 ul{
    display: flex;
}

footer div.footer-content-1 ul li{
    margin: 0 20px;
}

footer div.footer-content-1 ul li a{
    text-decoration: none;
    color: #ffffff;
}

footer div.footer-content-1 ul li a:hover{
    color: #e6e6e6;
    transition: 0.25s;
}

footer div.footer-bottom{
    background: #000000;
    width: 100;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer div.footer-bottom ul{
    display: flex;
    margin-left: 5%;
}

footer div.footer-bottom ul li{
    margin: 0 20px;
}