*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: repeating-linear-gradient(-45deg, #e6e6e6, #e6e6e6 10px, #dedede 10px, #dedede 20px);
    color: #000000;
}

.content-middle{
    background-color: #ffffff;
    padding: 15px;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

a{
    text-decoration: none;
    color: #0000ff;
}

a:hover{
    color: #000000;
}

hr{
    margin: auto;
    width: 25%;
}

.countdown-font-styling{
    font-size: 20px;
    font-weight: bold;
}

.disclaimer-font-styling{
    font-style: italic;
}