@charset "utf-8";
/* CSS Document */
/* Version 1.0 */

.home-bg {
	background: #CBCBCB url("../../images/acatserver-portal/home-bg.png") no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	position: relative;
}

.server-rules-bg {
	background: #CBCBCB url("../../images/acatserver-portal/server-rules-bg.png") no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	position: relative;
}
	
.knowledge-base-bg {
	background: #CBCBCB url("../../images/acatserver-portal/knowledge-base-bg.png")no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	position: relative;
}

.support-bg {
	background: #CBCBCB url("../../images/acatserver-portal/support-bg.png") no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	position: relative;
}

.blinking-circle {
	animation: blinker 1.25s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}