@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFFFFF;
	background-image: url("../../images/mc_background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: 0;
}