@charset "utf-8";
/* CSS Document */

.portal-bg {
	background: #CBCBCB url("../../images/mc_portal-bg.png") no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	position: relative;
}

.kb-bg {
	background: #CBCBCB url("../../images/mc_kb-bg.png") no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	position: relative;
}

.support-bg {
	background: #CBCBCB url("../../images/mc_support-bg.png") no-repeat fixed center;
	background-size: cover;
	min-height: 100%;
	position: relative;
}